*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Editor backups
*~

# Compiled documentation
doc

# generated Python 3
code3

# translations
translations/*.pot
translations/.doctrees
translations/*/LC_MESSAGES

# Miscellaneous
MANIFEST
code/pywws/locale
code/pywws/version.py
