*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Editor backups
*~

# Compiled documentation
pywws/doc/en
pywws/doc/fr
pywws/doc/it
doc_src/api/pywws.*.rst

# Compiled language files
*.mo
