include code/*.py *.txt MANIFEST.in makefile
include code/pywws/*.py
recursive-include translations *.po
recursive-include translations *.pot
recursive-include doc_src *
recursive-include doc/*/html *
recursive-include doc/*/text *
recursive-include code/example_templates *
recursive-include code/example_graph_templates *
recursive-include code/example_modules *
global-exclude *~
exclude doc/*/html/.buildinfo
