include *.py *.txt MANIFEST.in makefile
include pywws/*.py
recursive-include doc/html *
recursive-include doc/text *
recursive-include example_templates *
recursive-include example_graph_templates *
recursive-include languages *
recursive-include locale *
